*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 11px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #444;
}

body,html{
	height: 100%;
}

h1,h2,h3, h2 a, h3 a{
	font-family: 'Abel', sans-serif;
	color: #000;
	text-decoration: none;
}

#wrapper{
	width: 470px;
	margin: 10px auto 30px;
	position: relative;
}
em{
	font-style: italic;
}

h1{
	width: 470px;
	height: 140px;
	position: relative;
	background: url( ../img/photoboothjs.png ) no-repeat;
}
h1 a{
	color: #aaa;
	font-size: 14px;
	position: absolute;
	left: 143px;
	top: 95px;
	text-decoration: none;
}
h2, h2 a{
	margin: 20px 0 5px;
	font-size: 20px;
}

h3, h3 a{
	margin: 5px 0 2px;
	font-size: 16px;
}

#example{
	height: 300px;
}


#nav{
	position: fixed;
	left: 50%;
	margin-left: -450px;
	width: 170px;
}
#nav a{
	font-size: 14px;
	text-decoration: none;
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
	-msie-transition: color 500ms ease;
}
#nav a.selected,
#nav a:hover{
	color: #0da4d3;
}

#nav li{
	margin: 6px 0;
	text-align: right;
}
#nav li li{
	margin: 3px 0;
}
#nav li li a{
	font-size: 12px;
	color: #888;
}

#gallery{
	margin: 5px 0;
	background: #f6f6f6;
}

.downloadButton{
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	border:1px solid #08536a;
	display: block;
	border-radius: 2px;
	padding: 10px;background: #0da4d3; /* Old browsers */
	background: #0c89b0; /* Old browsers */


}
.downloadButton:hover{
	opacity: 0.7;
}
.downloadButton strong{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,1);
}
.downloadButton small{
	font-size: 10px;
	color:#fff;
}
/*****************
* Browser Support Table
*****************/
.browserSupport{
	width: 100%;
	margin: 6px 0 10px;
}
.browserSupport td{
	margin: 2px;
	padding: 2px;
	background: #f6f6f6;
	text-align: center;
	font-weight: bold;
}
.browserSupport td.full{
	background: #adf0b5;
}
.browserSupport td.partial{
	background: #f0efad;
}
.browserSupport td.none{
	background: #f0adad;
}
/*****************
* API DOCS
*****************/

.docEntry{
	position: relative;
	padding-left: 20px;
	margin: 10px 0 20px;
}

.docEntry label a{
	display: block;
	padding: 5px 0;
	font: 14px monospace;
	color: #000;
	font-weight: bold;
}
.docEntry label a:target{
	background: #0da4d3;
	color: #fff;
}
.gradient{
	width: 4px;
	height: 100%;
	background: #0da4d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #0da4d3 0%, #0d5cd3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0da4d3), color-stop(100%,#0d5cd3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0da4d3 0%,#0d5cd3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0da4d3 0%,#0d5cd3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0da4d3 0%,#0d5cd3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0da4d3 0%,#0d5cd3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da4d3', endColorstr='#0d5cd3',GradientType=0 ); /* IE6-9 */
	position: absolute;
	left: 0;
}
/***************
* Tabs
**************/
.tab_container{
	overflow: hidden;
}
.tab_container .tabs{
	height: 24px;
	display: block;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
}

.tab_container .tabs li{
	padding: 5px;
	height: 12px;
	float: left;
	background: #fff;
	margin-right: 4px;
	border: 1px solid #ccc;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	position: relative;
	top: 1px;
	background: #fff;
	z-index: 1;
}
.tab_container .tabs li:hover{
	color: #000;
	background: #f6f6f6;
}
.tab_container .tabs li.selected{
	border-bottom-color: #fff;
	
	background: #f6f6f6;
	color: #000;
}

.tab_container .tab_content{
	clear:both;
	background: #f6f6f6;
	display: none;
}

.tab_container .tab_content.selected{
	display: block;
}

/*************************
* Code
*************************/
code{
	display: block;
}
code, code *{
	white-space: pre;
	font-family: monospace;
}
code .keyword              { font-weight: bold }
code .string, code .regexp { color: green }
code .class, code .special { color: blue }
code .number               { color: brown }
code .comment              { color: grey }